###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/environment.html
###

[app:main]
use = egg:displaytrigger

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =

path.static.ext = %(here)s/externals/static
path.static.assets = static/assets
path.static.trigger = %(here)s/../triggerWeb/build
path.static.display = %(here)s/../display/build
path.eventmap = %(here)s/../eventMap/
path.display_configs = %(here)s/../display/display_configs

mako.directories = displaytrigger:templates

multisocket.websocket.port = 9873 -> int
multisocket.tcp.port       = 9872 -> int

# notify systemd this service started properly
systemd.dbus.notification = false

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/1.5-branch/narr/logging.html
###

[loggers]
keys = root, displaytrigger

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_displaytrigger]
level = DEBUG
handlers =
qualname = displaytrigger

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
