body {
    background-color: black;
    font-family: sans-serif;
}

#screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	overflow: hidden;
}

#screen > video,
#screen > iframe {
    width: 100%;
    height: 100%;
}
#screen iframe {
    overflow: hidden;
}


#offscreen {
    display: none;
}
