body {
    background-color: black;
    font-family: sans-serif;
}

#screen,
#fader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#screen > img,
#screen > video,
#screen > iframe {
    width: 100%;
    height: 100%;
}
#screen iframe {
    overflow: hidden;
}

/* Overlay ------------------------------------------------------------------ */

@-webkit-keyframes overlay_fade_in {
	  0% {opacity: 0; left:  0%; -webkit-filter: blur(1em);}
	100% {opacity: 1; left:  5%; -webkit-filter: blur(0em);}
}
@-webkit-keyframes overlay_fade_out {
	  0% {opacity: 1; left:  5%; -webkit-filter: blur(0em);}
	100% {opacity: 0; left: 30%; -webkit-filter: blur(1em);}
}
.show_overlay #overlay {
	opacity: 1;
	-webkit-animation-name: overlay_fade_in;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 1.5s;
}
#overlay {
    opacity:0;
    left: 5%;
	-webkit-animation-name: overlay_fade_out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 3s;

    position: absolute;
    top: 5%;
    width: 90vw;

    color: white;
    background-color: rgba(0,0,0,.50);
    -webkit-box-shadow:0 0 6vh 6vh rgba(0,0,0,.50);
    border-radius: 2vh;
}
#overlay h1 {
    font-size: 6vh;
    font-weight: bold;
}
#overlay p {
    font-size: 4vh;
}


/* Fader -------------------------------------------------------------------- */

@-webkit-keyframes fader_fade_in {
	  0% {opacity: 0;}
	100% {opacity: 1;}
}
#fader {
    opacity: 0;
    display: none;
    background-color: black;
}
#fader.fade {
	opacity: 1;
	-webkit-animation-name: fader_fade_in;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 1.5s;
    
    display: block;
}

#offscreen {
    display: none;
}
