@charset "UTF-8";

body {
    background-color: black;
    font-family: sans-serif;
    cursor: none;  /* !important */
    overflow: hidden;
    color: white;
}

a {
    color: white;
}


/* -------------------------------------------------------------------------- */
$test-height: 100px;

@mixin test_style {
    height: $test-height;
    border: 1px dashed red;
}

.item {
    @include test_style;
}
